<%- include('partials/header') -%>


<div class="row justify-content-evenly py-5 my-5">
  <!-- Left side -->
  <div class="col-md-6 d-none d-lg-block mt-3">
    <img src="/img/welcome.svg" alt="Happening now!" height="400">
  </div>
  <!-- End of left side -->

  <!-- Right side -->
  <div class="col-md-3 mt-3">
    <h3 class="text-center mb-5">Logged In :)</h3>

  </div>
  <!-- End of right side -->

</div>

<%- include('partials/footer') -%>
